---
layout: default
title: "Music"
---
<h2>Electronic music compositions</h2>
<p>
  Just several tracks below hosted on my rarely visited soundcloud account.
  Of course I have many semi-finished, but definitely game-changer tunes in talon,
  like every music producer has.
</p>
{% for entry in site.data.music_tracks %}
  <div class="soundcloud-item">
    <h3>{{ entry.title }}</h3>
    {% if entry.description %}
    <p>
      {{ entry.description }}
    </p>
    {% endif %}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ entry.frame }}"></iframe>
  </div>
{% endfor %}
<h2>Game music</h2>
<p>
  Here are some smaller compositions, usually included in one of the games created by me.
</p>
{% for entry in site.data.game_music_tracks %}
  <div class="soundcloud-item">
    <h3>{{ entry.title }}</h3>
    {% if entry.description %}
    <p>
      {{ entry.description }}
    </p>
    {% endif %}
    <iframe width="100%" height="166" scrolling="no" frameborder="no" src="{{ entry.frame }}"></iframe>
  </div>
{% endfor %}
