<footer class="container">

  <div class="group main-footer">

    <hr>

    <div class="main-footer-update">
      <h5>Last update: {{ site.time | date: "%B %e, %Y" }}</h5>
    </div>

    <nav class="footer-nav">
      <iframe allowtransparency="true" scrolling="no" frameborder="no" src="https://w.soundcloud.com/icon/?url=http%3A%2F%2Fsoundcloud.com%2Fmfeproject&color=orange_white&size=32" style="width: 32px; height: 32px;"></iframe>
      <a href="https://github.com/mfep"><img src="/images/github.ico" alt="GitHub"/></a>
      <a href="https://mfeproject.itch.io/"><img src="/images/itchio.png" alt="itch.io" /></a>
    </nav>

  </div>

</footer>
