<header class="container">

  <div class="group">

    <div class="site-title">
      <img src="/images/avatar.png" alt="Avatar"/>
      <div class="site-title-info">
        <h1>{{ site.title }}</h1>
        <p>
          {{ site.description }}
        </p>
      </div>
    </div>


    <div class="main-nav">
      <nav>
        <ul>
          <li><a href="/index.html">Blog</a></li><!--
          --><li><a href="/music.html">Music</a></li><!--
          --><li><a href="#">Games</a>
            <ul>
              <li><a href="/games/moonrogue.html">MoonRogue</a></li><!--
              --><li><a href="/games/6ravity.html">6RAVITY</a></li><!--
              --><!--<li><a href="/games/sludgeland.html">SludgeLand</a></li>-->
            </ul>
          </li><!--
          --><li><a href="/visuals.html">Visuals</a></li><!--
          --><li><a href="/about.html">About</a></li>
        </ul>
      </nav>
    </div>

  </div>

</header>
